---
import "@/styles/global.css";
import { Font } from "astro:assets";

const { title, description } = Astro.props;
---
<html lang="en">
	<head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
		<meta name="og:url" content={Astro.url} />
		<meta name="og:title" content={title} />
		<meta name="og:description" content={description} />
        <title>{title}</title>
        <Font cssVariable="--font-body" preload />
        <Font cssVariable="--font-heading" preload />
	</head>
	<body>
        <div id="app">
            <slot />
        </div>
	</body>
</html>

<style>
#app {
    height: 100svh;
    display: grid;
    grid-auto-rows: 1fr auto;
    place-items: center;
    background-color: var(--background);
    color: var(--foreground);
}
</style>